
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{ font-family: 'Roboto', sans-serif;}

/* Basic CSS */
.row-sm {
  margin-right: -5px;
  margin-left: -5px;
}

.row-sm > .col,
.row-sm > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.text-primary{ color: #ec018c !important;}
a{ color:#212529;}
a:hover{ text-decoration: none;color: #ec018c;}
.btn-primary {
    color: #fff;
    background-color: #ec018c;
    border-color: #ec018c;
}
.btn-primary:hover {
    background-color: #000;
    border-color: #212529;
}

/*Hotel List CSS*/
.list-none{ list-style: none;}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 35px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */

  /* When you mouse over the navigation links, change their color */
 
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .form-control:disabled, .form-control[readonly]{
    background-color: #ffffff !important;
    opacity: 1;
  }
  
  .form-control-readonly {
    background-color: #ffffff !important;
    opacity: 1;
}

